body {
    overflow-x: hidden;
} 

.custom-bd {
    flex-grow: 1;
}
.custom-aside {
    width: 250px;
    background-color: #000000;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    padding-top: 70px;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1000;
    font-size: 24px; 
    scrollbar-width: none; 
}
.custom-ul{  
    margin-bottom: 42vh;

}


.custom-aside::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 6px;              
    height: 100%;
    background: linear-gradient(to bottom, #FFD700, #FFA500);
    pointer-events: none;   
}
.dropdown-menu .dropdown-item { 
    width: 100%;
    display: block;
    padding: 15px 16px;
    color: #000000;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.custom-drop{ 
    font-size: 18px;
    padding-top: 0;
    padding-bottom: 0;
}
.custom-hr{ 
    margin: 0;
    padding: 0;
}
.custom-a:hover{
    background-color: #c1c1c1 ; 
    color: #000000 !important; 
    border-radius: 5px;
}
.custom-li:hover {
    background-color: #dc3545;
    color: #fff !important; 
    border-radius: 5px;
}

.custom-icon{
    color: #ffffff !important;
}
.custom-icon:hover{
    color: #b8860b !important;
}
.nav-link.active {
    background-color: #000000 !important; 
    color: #b8860b !important;
}

/*letras del nav xd */


.custom-name{
    font-size: 23px !important;
}

.custom-bd {
    margin-left: 250px; 
    padding: 20px;
}

.perfil-img {
    width: 42px;
    height: 43px;
    object-fit: cover;
}
.mobile-bottom-nav a {
    text-decoration: none !important;
}




/*-----------------------------@Media --------------------------------------*/

@media (max-width: 768px) {
    .custom-aside {
        display: none; 
    }

    .custom-bd {
        margin-left: 0 !important;
        padding-bottom: 60px;
    }
}
@media (max-width: 767.98px) {
    .custom-bt {
        width: 100% !important;
    }
}
@media (max-width: 576px) {
    .form-control.custom-back {
        font-size: 14px;
        padding: 8px 10px;
    }
}
@media (max-width: 992px) {
  .custom-bd {
    padding-bottom: 100px !important;
  }
}


.custom-aside::-webkit-scrollbar {
    display: none; /
}

@media (max-width: 1200px) {
    .custom-aside {
        font-size: 20px;
}
}

@media (max-width: 1024px) {
    .custom-aside {
        font-size: 18px;
    }
    .custom-ul{  
    margin-bottom: 41vh;

}
}
@media (max-width: 1629px) {
    .custom-aside {
        font-size: 18px;
    }
    .custom-ul{  
    margin-bottom: 40vh;

}
}

@media (max-width: 768px) {
    .custom-aside {
        display: none;
    }
}


