


.custom-bd{
    background-color: black;
}

.carousel {
  width: 80%;
  max-width: 800px;
  margin: auto;
  margin-top: 10%;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.5);
}

.slides {
  display: flex;
  width: 100% ;
  transition: transform 1s ease;
}

.slides img {
  width: 100%;
  height: auto;
  flex-shrink: 0;
}

@media (max-width: 1492px) {
  .carousel { 
  width: 60%;
  max-width: 800px;
  margin: auto;
  margin-top: 10%;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.5);

  }
}




