.custom-bd {
  background-color: black;
}

.carousel {
  width: 90%;
  max-width: 800px;
  margin: 5% auto;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.slides {
  display: flex;
  transition: transform 1s ease;
}

.slides img {
  width: 100%;
  height: auto;
  flex-shrink: 0;
  object-fit: cover;
  display: block;
}

@media (max-width: 768px) {
  .carousel {
    width: 100%;
    margin-top: 20%;
  }
}

@media (max-width: 576px) {
  .carousel {
    margin-top: 30%;
  }
}
